<div class="container mt-4">

  <h2 class="fw-bold mb-4">📊 Dashboard</h2>
  <a [routerLink]="['/products', userId]" class="btn btn-primary mb-3">
    ➕ Manage Products
  </a>
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card stat-card text-center">
        <h5>Total Products</h5>
        <h2>{{ products.length }}</h2>
      </div>
    </div>
  </div>



  <!-- 🔥 IMPORTANT -->
  <div class="card p-3">
    <h5>📈 Products Added (Date-wise)</h5>
    <canvas #chartCanvas></canvas>
  </div>

</div>
